# ramp specifics
ramp-workflow
osfclient

# generic datascience
numpy
matplotlib
pandas
scipy
lightgbm
numba

# https://github.com/scverse/scanpy/issues/2411
seaborn
jupyterlab

scikit-learn
#tensorflow

# dev
flake8
black

# utils
scanpy
